:root {
  --primary-color: #dcc07c;
  --secondary-color: #3c3b3c;
  --background-color: #000000;
  --text-color: #ffffff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
nav .nav-left {
  display: flex;
  align-items: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
nav li {
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease, background-color 0.3s ease;
}
nav a:hover {
  color: var(--primary-color);
}
nav a.active {
  color: var(--primary-color);
}